<header>
    <nav>
        <div class="logo">
            <span><a class="name" href="/">;Gb]z</a></span>
        </div>
        <div class="signout" title="Signout">
                <i class="fas fa-sign-out-alt"></i>
        </div>
    </nav>
</header>