<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="/scss/main.css">
    <!-- link Font awesome -->
    <script defer src="/fontawesome/js/all.js"></script>
</head>
<body>
    <%- include ("includes/header") %>
    <section id="room-id">
        <form action="">
            <input type="text" name="roomName" placeholder="Enter room name">
            <button type="submit" class="btn">Join</button>
        </form>
        <div class="rules-container">
            <h1>Rules:</h1>
            <p>You must follow the rules strictly mentioned below whenever you are in room.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>

    </section> 
    
</body>
</html>